
* { 
    box-sizing: border-box; 
}

body { 
    background-color: #333; 
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
	  font-size: 1rem; 
	  font-family: 'Roboto', sans-serif;
} 

.sign-in-form { 
    max-width: 700px;
	height: 100%;
	margin: 2em auto; 
    padding: 1.5em;
    background:white;
    border-radius:10px;
}

sup{
  color: tomato;
}

h1 { 
    font-size: 3em; 
    color: #B32074; 
    font-weight: 400; 
    margin-bottom: 0.5em; 
    margin-top: 0; 
    text-align: center;
}

h3 { 
    font-size: 2em; 
    color: tomato; 
    font-weight: 400; 
    margin-bottom: 0.5em; 
    margin-top: 0; 
    text-align: center;
}

form > div {
	display: flex;
    flex-wrap: wrap;
    color: #B32074;
    margin-bottom: 1em;
}

form > div > p {
	min-width: 33.33%;
	padding: 0 10px;
}

button,
input {
	color: inherit;
	font: inherit;
	margin: 0;
  margin-top: 0.5em;
  font-weight: normal;
}

label {
	display: block;
	font-weight: bold;
}

.error{
    font-weight: normal;
    color: tomato;
}

input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0;
	display: block;
	margin-right: 0.25em;
	margin-top: 2px;
	float: left;
	clear: both;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
input[type=tel] {
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 2px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	padding: 0.5em 0.6em;
	margin-bottom: 0.5em;
}

a { 
  color: dodgerblue; 
  text-decoration: none; 
  border-bottom: 1px dotted; 
}
a:hover { 
  color: tomato; 
}

fieldset{
    max-width: 100%;
    width: 300px;
    border:0.5px thin bbb;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
    border-color: #ddd;
}

fieldset > label {
   margin: 0.75em 0;
   font-weight: normal;
}

legend {
    font-weight: bold;
}

#level-of-experience-text {
    font-weight: normal;
}

.mandatory-info{
  font-size: medium;
  font-weight: normal;
}

button
{
	-webkit-appearance: button;
    cursor: pointer;
    display:inline-block;
	float:right;
	clear:right;
	padding: 15px 15px;
	color: white;
	background-color: tomato;
	border: 0;
	cursor: pointer;
	transition: all 300ms ease;
}

button:hover {
	background-color: #B32074;
}

input {
	line-height: normal;
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #B32074;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #B32074;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #B32074;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #B32074;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #B32074;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #B32074;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #B32074;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .secret-image{
    display: block;
    text-align: center;
  }

  .secret-text{
      text-align: center;
  }